<div class="room active" id="day02">
  <h1>Palestras e Tutoriais</h1>
  <p class="day-description">Desenvolvimento e contribuição para projetos open source e mini-cursos (tutoriais). Participe!</p>
  <p class="local">LOCAL: <a target="_blank" href="https://goo.gl/maps/JA5vHWAVrs92">R. Francisco Getúlio Vargas, 1130 - Petrópolis, Caxias do Sul - RS (UCS)</a></p>

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Letícia Portella</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:40</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Vamos hackear o futuro com Python e companhia?</p>
    <p class="speaker">Rodrigo Foghi</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:20</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:50</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">A definir</p>
    <p class="speaker">A definir</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:30</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Lightinig Talks</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:20</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Almoço</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>

    <p><span class="track track-tutorials">A definir</span></p>
    <p class="talk">Djangular</p>
    <p class="speaker">Jeliel Mendes</p>

    <p><span class="track track-tutorials">A definir</span></p>
    <p class="talk">Tutorial: Capturando dados abertos sem dor de cabeça</p>
    <p class="speaker">Álvaro 'Turicas' Justen</p>
  </div>

</div>
