<div class="room active" id="day01">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>
  <p class="local">LOCAL: <a target="_blank" href="https://goo.gl/maps/JA5vHWAVrs92">R. Francisco Getúlio Vargas, 1130 - Petrópolis, Caxias do Sul - RS (UCS)</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Abertura</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:10</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Fernando Massanori</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>
    <p><span class="track track-tutorials">Área externa</span></p>
    <p class="talk">Coffee break</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:30</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">The Walking Dev</p>
    <p class="speaker">Henrique Bastos</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:10</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Acessibilidade para deficientes visuais com Python</p>
    <p class="speaker">Marcos</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:50</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Big Data com Apache Spark na Globo.com</p>
    <p class="speaker">Daniela Petruzalek</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:30</time></p>
    <p><span class="track track-tutorials">Restaurante</span></p>
    <p class="talk">Almoço</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Trabalho remoto 101 - Tudo(ou quase tudo) o que você precisa saber para começar</p>
    <p class="speaker">Ellison Leão</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:40</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Django Unchanneled</p>
    <p class="speaker">Jonatas Baldin</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:20</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Djangular</p>
    <p class="speaker">Jeliel Mendes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:00</time></p>
    <p><span class="track track-tutorials">Área externa</span></p>
    <p class="talk">Coffee break</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:30</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Django passo-a-passo</p>
    <p class="speaker">Renata D'avila</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Álvaro 'Turica' Justen</p>
  </div>

</div>
