<section class="location" id="location">
  <div class="row">
    {% include _maps-icon.html %}
    <h1>Palestras: Auditório do Clube de Engenharia</h1>
    <h3>Auditório do Clube de Engenharia - Av. Rio Branco, 124, Centro do Rio de Janeiro</h3>
    <p><a href="https://goo.gl/maps/D5FmXf7MQm12" target="_blank" class="link">Veja como chegar ao local</a> | <a href="https://www.facebook.com/clubedeengenharia/" target="_blank" class="link">Acesse o site do local</a></p>
  </div>
  <div class="row">
    <h1>Tutoriais: Universidade Veiga de Almeida</h1>
    <h3>Campus Tijuca</h3>
    <p><a href="https://goo.gl/maps/Cbf3NWfa9DH2" target="_blank" class="link">Veja como chegar ao local</a> | <a href="https://www.uva.br/campus-tijuca" target="_blank" class="link">Acesse o site do local</a></p>
  </div>
  <div class="row">
    <h1>Sprints: Stone Pagamentos</h1>
    <h3>Centro</h3>
    <p><a href="https://goo.gl/maps/MtYnJNiZnDp" target="_blank" class="link">Veja como chegar ao local</a> | <a href="https://www.uva.br/campus-tijuca" target="_blank" class="link">Acesse o site do local</a></p>
  </div>
  <div class="row">
    <p class="booking">Aguarde! Em breve informaremos detalhes sobre hospedagem na região da Python Sudeste 2017.</p>
  </div>

<!--   <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS EM 6 E 7 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 201 + 5% ISS<br>
        Quarto duplo (diária) – R$ 231 + 5% ISS
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS EM 8 A 11 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 225 + 5% ISS<br>
        Quarto duplo (diária) – R$ 255 + 5% ISS
      </p>
    </div>
  </div> -->
</section>
