<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>

    <p class="schedule-description">05 - Palestras | 06 - Palestras e Tutoriais | 07 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day01" class="item-link active">Primeiro Dia</a>
        </li>

        <li class="item">
          <a href="#day02" class="item-link">Segundo Dia</a>
        </li>

        <li class="item">
          <a href="#day03" class="item-link">Terceiro Dia</a>
        </li>
      </ul>
    </nav>

    {% include _day01.html %}

    {% include _day02.html %}

    {% include _day03.html %}

  </div>
</section>
