<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="keynotes-list">

      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/masanori.png" alt="Fernando Masanori">
        </div>
        <h2 class="speaker-name">Fernando Masanori</h2>
        <p class="speaker-description">Fernando é professor da FATEC São José dos Campos, graduado em Computação pelo IME-USP e mestrado pelo ITA, e adora dar aulas. É o criador do Python para Zumbis <a href="http://pycursos.com/python-para-zumbis/">http://pycursos.com/python-para-zumbis/</a> e Python é a sua desculpa para fazer amigos pelo mundo. Nos dois últimos anos deu mais de cem palestras e minicursos, na comunidade Python, viajando pelo Brasil e outros quinze países. Já desenvolveu projetos para Credicard Mastercard e Itaú BankBoston. Nos finais de semana ajuda em projetos sociais ligados à educação infantil. Os contatos dele você encontra em <a href="https://about.me/fmasanori">https://about.me/fmasanori</a></p>
      </li>

      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/leticia.png" alt="Letícia Portella">
        </div>
        <h2 class="speaker-name">Letícia Portella</h2>
        <p class="speaker-description">Leticia é Oceanógrafa de formação e mestranda em Oceanografia pela Universidade Federal de Santa Catarina. Descobriu-se apaixonada por programação e começou a trabalhar na área como desenvolvedora e cientista de dados. Hoje, faz parte de diversas iniciativas, na comunidade Python, para incentivar mulheres a atuarem na área de tecnologia.</p>
      </li>

      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/turicas.png" alt="Álvaro Justen">
        </div>
        <h2 class="speaker-name">Álvaro Justen</h2>
        <p class="speaker-description">Turicas, também conhecido como Álvaro Justen, é vegetariano, feminista, desenvolvedor de software, professor, hipnotista e um monte de outras coisas. É dependente químico de cafés especiais, curte muito aprender sobre a vida, o universo e tudo mais, pedalar, cozinhar, plantar (e essa lista só cresce). Acredita que o mundo seria um pouquinho melhor se todo mundo compartilhasse mais conhecimento, hospedagem e diversos outros recursos; se diverte brincando com dados, viajando e hipnotizando as pessoas.</p>
      </li>

    </ul>
  </div>
</section>
