<section class="speakerfight" id="speakerfight">
  <div class="row">
    <div class="content">
        <h2>Palestras e Tutoriais</h2>
        <p>Como inovação para esta edição, a votação dos tutorias, assim como as das palestras, será anônima. Ou seja, o eleitor só terá acesso ao título e à descrição do tutorial / palestra no momento de votar. Já realizamos esta experiência com o XVI Encontro da PythonRio e ela foi bastante proveitosa. O intuito é focar mais no conteúdo e menos nas pessoas, permitindo assim um espaço mais democrático para que novas pessoas possam falar sobre o que andam fazendo com Python. Cada tutorial pode ter a duração de no máximo 2 horas e meia e as submissões serão aceitas até o dia 15 de Março.</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>Palestras</h3>
      <p>Cada palestra terá 40 minutos, sendo 30 para a palestra e 10 para perguntas e elas serão aceitas até o dia 15 de Março.</p>
      <a href="http://speakerfight.com/events/python-sudeste-2017-palestras/">Envie sua proposta de palestra.</a>
    </div>
    <div class="column">
      <h3>Tutoriais</h3>
      <p>Cada tutorial pode ter a duração de no máximo 2 horas e meia e as submissões serão aceitas até o dia 15 de Março.</p>
      <a href="http://speakerfight.com/events/python-sudeste-2017-tutoriais/">Envie sua proposta de tutorial.</a>
    </div>
  </div>
</section>
