<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="keynotes-list">
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/turicas.JPG" alt="Álvaro Turicas">
          </div>

          <h2 class="speaker-name">Álvaro "Turicas"</h2>
          <p class="speaker-description">Turicas, também conhecido como Álvaro Justen, é vegetariano, pró-feminismo, desenvolvedor de software, professor, hipnólogo e um monte de outras coisas. É dependente químico de cafés especiais, curte muito aprender sobre a vida, o universo e tudo mais, pedalar, cozinhar, plantar (e essa lista só cresce). Acredita que o mundo seria um pouquinho melhor se todo mundo compartilhasse mais conhecimento, hospedagem e diversos outros recursos; se diverte criando projetos com Arduino e programando usando a linguagem Python.</p>
      </li>
      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/annanda.jpg" alt="Annanda Sousa">
        </div>

        <h2 class="speaker-name">Annanda Sousa</h2>
        <p class="speaker-description">Annanda Sousa é estudante de Ciência da Computação na UFRJ, co-fundadora do Pyladies Rio e organizadora de eventos Django Girls. Ela tem interesse em data science, processamento de linguagem natural e processamento de imagens, além de ser apaixonada por matemática. Nas horas vagas, ama ler e é mãe de um gatinho fofo chamado Shinta.</p>
      </li>
      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/berrondo.jpg" alt="Cláudio Berrondo">
        </div>

        <h2 class="speaker-name">Cláudio Berrondo</h2>
        <p class="speaker-description">Cláudio Berrondo é pythonista desde criançinha - mentira... mas há uns 10 anos! - e membro orgulhoso da PythOnRio! :D</p>
      </li>
    </ul>
  </div>

  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Andre Fonseca.jpg" alt="Andre Fonseca">
        </div>

        <h2 class="speaker-name">Andre Fonseca</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Andressa Sivolella.jpg" alt="Andressa Sivolella">
        </div>

        <h2 class="speaker-name">Andressa Sivolella</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Cuducos.jpeg" alt="Cuducos">
        </div>

        <h2 class="speaker-name">Cuducos</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Diego Cacau.jpg" alt="Diego Cacau">
        </div>

        <h2 class="speaker-name">Diego Cacau</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Douglas Bastos.jpg" alt="Douglas Bastos">
        </div>

        <h2 class="speaker-name">Douglas Bastos</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Filipe Ximenes.png" alt="Filipe Ximenes">
        </div>

        <h2 class="speaker-name">Filipe Ximenes</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Luciano Ratamero.jpg" alt="Luciano Ratamero">
        </div>

        <h2 class="speaker-name">Luciano Ratamero</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Samuka.png" alt="Samuka">
        </div>

        <h2 class="speaker-name">Samuka</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Susana Bouchardet.jpg" alt="Susana Bouchardet">
        </div>

        <h2 class="speaker-name">Susana Bouchardet</h2>

      </li>
    </ul>
  </div>

  <div class="row">
    <h1>Tutoriais</h1>

    <ul class="tutorials-list">

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Diogo Munaro.jpeg" alt="Diogo Munaro">
        </div>

        <h2 class="speaker-name">Diogo Munaro</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Érica Nogueira.jpg" alt="Érica Nogueira">
        </div>

        <h2 class="speaker-name">Érica Nogueira</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Felipe de Morais.jpg" alt="Felipe de Morais">
        </div>

        <h2 class="speaker-name">Felipe de Morais</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Igor Santos.jpg" alt="Igor Santos">
        </div>

        <h2 class="speaker-name">Igor Santos</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/James Peres.jpg" alt="James Peres">
        </div>

        <h2 class="speaker-name">James Peres</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Luciano Ramalho.jpg" alt="Luciano Ramalho">
        </div>

        <h2 class="speaker-name">Luciano Ramalho</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Wilson Júnior.jpg" alt="Wilson Júnior">
        </div>

        <h2 class="speaker-name">Wilson Júnior</h2>

      </li>
    </ul>
  </div>


</section>
