<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="speakers-list">
      <li class="speaker">
          <div class="photo">
            <img src="images/speakers/turicas.jpg" alt="Álvaro Turicas">
          </div>

          <h2 class="speaker-name">Álvaro "Turicas"</h2>
          <p class="speaker-description">Turicas, também conhecido como Álvaro Justen, é vegetariano, pró-feminismo, desenvolvedor de software, professor, hipnólogo e um monte de outras coisas. É dependente químico de cafés especiais, curte muito aprender sobre a vida, o universo e tudo mais, pedalar, cozinhar, plantar (e essa lista só cresce). Acredita que o mundo seria um pouquinho melhor se todo mundo compartilhasse mais conhecimento, hospedagem e diversos outros recursos; se diverte criando projetos com Arduino e programando usando a linguagem Python.</p>
      </li>
      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/annanda.jpg" alt="Annanda Sousa">
        </div>

        <h2 class="speaker-name">Annanda Sousa</h2>
        <p class="speaker-description">Annanda Sousa é estudante de Ciência da Computação na UFRJ, co-fundadora do Pyladies Rio e organizadora de eventos Django Girls. Ela tem interesse em data science, processamento de linguagem natural e processamento de imagens, além de ser apaixonada por matemática. Nas horas vagas, ama ler e é mãe de um gatinho fofo chamado Shinta.</p>
      </li>
      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/berrondo.jpg" alt="Cláudio Berrondo">
        </div>

        <h2 class="speaker-name">Cláudio Berrondo</h2>
        <p class="speaker-description">Cláudio Berrondo é pythonista desde criançinha - mentira... mas há uns 10 anos! - e membro orgulhoso da PythOnRio! :D</p>
      </li>
    </ul>
  </div>
</section>
