<section class="sponsors" id="sponsors">
    <div class="row">
        <h1>Patrocinadores</h1>
        <a id="sponsorship-link" class="item-link" href="https://drive.google.com/open?id=0B16XHaTZMza4SWRqaWF0WlVyalk" target="_blank">Seja nosso parceiro!</a>
    </div>
    <div class="row">
        <h2>Diamante</h2>
        <ul class="sponsors-list sponsors-list__diamond">
            <li class="item">
                <a class="item-link" href="https://www.stone.com.br/" target="_blank">
                    <div class="imgs diamond">
                        <img src="images/sponsors/stone.svg" alt="Stone Pagamentos" title="Stone Pagamentos">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="http://globo.com/" target="_blank">
                    <div class="imgs diamond">
                        <img src="images/sponsors/globocom.png" alt="globo.com" title="globo.com">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="https://esharesinc.com/" target="_blank">
                    <div class="imgs diamond">
                        <img src="images/sponsors/eshares_logo_white.png" alt="eShares" title="eShares">
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="row text-center">
        <h2>Ouro</h2>
        <a class="item-link" href="https://metapix.com.br/" target="_blank">
            <img width="230px" src="images/sponsors/metapix.png" alt="Metapix" title="Metapix">
        </a>
    </div>
    <div class="row text-center">
        <h2>Prata</h2>
        <a class="item-link" href="http://simplefractal.com/" target="_blank">
            <img width="215px" src="images/sponsors/logo_lightbg_rightname.png" alt="Simple Fractal" title="Simple Fractal">
        </a>
    </div>
    <div class="row text-center">
        <h2>Bronze</h2>
        <a class="item-link" href="https://lojaintegrada.com.br/" target="_blank">
            <img width="200px" src="images/sponsors/lojaintegrada.svg" alt="Loja Integrada" title="Loja Integrada">
        </a>
    </div>
    <div class="row">
        <h2>Apoio</h2>
        <ul class="sponsors-list">
            <li class="item">
                <a class="item-link" href="https://www.uva.br/" target="_blank">
                    <div class="imgs">
                        <img src="images/sponsors/logouva.png" alt="Universidade Veiga de Almeida" title="Universidade Veiga de Almeida">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="https://www.novatec.com.br/" target="_blank">
                    <div class="imgs">
                        <img src="images/sponsors/novatec.png" alt="novatec" title="novatec">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="http://rio.pyladies.com/" target="_blank">
                    <div class="imgs">
                        <img src="images/sponsors/pyladiesrio.png" alt="PyLadies Rio" title="PyLadies Rio">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="http://pythonrio.python.org.br/" target="_blank">
                    <div class="imgs">
                        <img src="images/sponsors/pythonrio.png" alt="Comunidade Python do Rio de Janeiro" title="Comunidade Python do Rio de Janeiro">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
