<section class="welcome">
  <div>
    <header class="header row">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
        <div class="carrousel row">
          <div class="centered">
              <h1>1ª conferência das comunidades Python da Região Sul</h1>
              <h2>8 a 10 de Setembro/2017</h2>
              <!--h3>5 e 6 - Palestras | 7 - Sprints</h3-->
              <p>
              <h4>R. Francisco Getúlio Vargas, 1130 - Petrópolis, Caxias do Sul - RS<h4>
              <h4>(UCS: Universidade de Caxias do Sul)</h4></p>
          </div>
          <div class="centered">
              <br />
              <h1>Em breve: informações sobre inscrições e grade de palestras</h1>
              <h2>8 a 10 de Setembro/2017</h2>
              <!--h3>5 e 6 - Palestras | 7 - Sprints</h3-->
              <p>
              <h4>R. Francisco Getúlio Vargas, 1130 - Petrópolis, Caxias do Sul - RS<h4>
              <h4>(UCS: Universidade de Caxias do Sul)</h4></p>
         </div>
        </div>

        <div class="call_to_subscribe">
            <a href="https://www.eventbrite.com.br/e/python-sul-2017-tickets-36543254859" target="_blank" class="register">INSCREVA-SE</a>
        </div>
    </article>
  </div>
</section>
