<section class="welcome">
  <div>
    <header class="header row">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
        <div class="carrousel row">
          <div class="centered">
              <h1>2ª conferência das comunidades Python do Sudeste</h1>
              <h2>5 a 7 de Maio/2017</h2>
              <h3>5 e 6 - Palestras | 7 - Sprints</h3>
              <p>
              <h4>R. Ibituruna, 108 - Maracanã, Rio de Janeiro - RJ<h4>
              <h4>(Universidade Veiga de Almeida)</h4></p>
          </div>
          <div class="centered">
              <br />
              <h1>Em breve: informações sobre inscrições e grade de palestras</h1>

              <h2>5 a 7 de Maio/2017</h2>
              <h3>5 e 6 - Palestras | 7 - Sprints</h3>
              <p>
              <h4>R. Ibituruna, 108 - Maracanã, Rio de Janeiro - RJ<h4>
              <h4>(Universidade Veiga de Almeida)</h4></p>
         </div>
        </div>

<!--        <div class="call_to_subscribe">
            <a href="http://even.tc/python-sudeste-2016" target="_blank" class="register">INSCREVA-SE</a>
        </div>-->
    </article>
  </div>
</section>
