<section class="welcome">
  <div>
    <header class="header row">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
        <div class="carrousel row">
          <div class="centered">
              <h1>2ª conferência das comunidades Python do Sudeste</h1>
              <h2>5 a 7 de Maio/2017</h2>
              <h3>5 e 6 - Palestras | 7 - Sprints</h3>
              <p>
              <h4>Cefet-RJ e Universidade Veiga de Almeida<h4>
          </div>
          <div class="centered">
              <br />
              <h1>Confira a grade de palestras!</h1>

              <h2>5 a 7 de Maio/2017</h2>
              <h3>5 e 6 - Palestras | 7 - Sprints</h3>
              <p>
              <h4>Cefet-RJ e Universidade Veiga de Almeida<h4>
         </div>
        </div>

        <div class="call_to_subscribe">
            <a href="https://www.catarse.me/pythonsudeste2017" target="_blank" class="register">INSCREVA-SE</a>
        </div>
    </article>
  </div>
</section>
